<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div class="form-group">
          <label for="validationEmail">Email address</label>
          <input type="email" class="form-control" id="validationEmail" 
          formControlName="email"
          [ngClass] ="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
          aria-describedby="emailHelp" required>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors.required">
              Email es requerido
            </div>
            <div *ngIf="email.errors.email">
              Formato incorrecto
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="validationPass">Password</label>
          <input type="password" class="form-control" 
                [ngClass] ="{'is-invalid': pass.invalid && (pass.dirty || pass.touched)}"
                id="validationPass" formControlName="pass" required>
          <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="invalid-feedback">
            <div *ngIf="pass.errors.required">
              password es requerido
            </div>
            <div *ngIf="pass.errors.minlength">
              mínimo 6 caracteres
            </div>
            <div *ngIf="pass.errors.passwordValidation">
              {{pass.errors.passwordValidation.message}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName">Nombre</label>
          <input type="text" class="form-control" id="exampleInputName" formControlName="name">
        </div>
        <!-- <div class="form-group">
          <label for="exampleInputName">Memberships</label>
          <select class="form-control" formControlName="memeberships">
            <option *ngFor="let membership of memeberships" [value]="membership">{{membership}}</option>
          </select>
        </div> -->
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="newsletter">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
       <!--  <div class="form-group">
          <a (click)="addPhone()" class="btn btn-primary">add Phone</a>
        </div> -->
       <!--  <div formArrayName="phones" *ngFor="let phone of phones.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-group row">
              <label class="col-md-1" [attr.for]="'phone'+1">Phone</label>
              <div class="col-md-12">
                <input type="text" class="form-control" [attr.for]="'phone'+1" formControlName="phone">
              </div>
              <label class="col-md-1" [attr.for]="'description'+1">Description</label>
              <div class="col-md-12">
                <input type="text" class="form-control" [attr.for]="'description'+1" formControlName="description">
              </div>
              <div class="col-md-12">
                <button class="btn btn-danger" (click)="removePhones(i)">Remove</button>
              </div>
            </div>
          </div>
        </div> -->
        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Registrar</button>
      </form>
      <div *ngIf="alert.show" [ngClass]="{'alert-danger': alert.type == 'error', 'alert-success': alert.type == 'ok'}" class="alert mt-3" role="alert">
        {{alert.message}}
      </div>
</div>
