<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pass">
        </div>
        <div class="form-group">
          <label for="exampleInputName">Nombre</label>
          <input type="text" class="form-control" id="exampleInputName" formControlName="name">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
</div>
