<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"> 
    <a class="navbar-brand" routerLink="/">World News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="active" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="favourites">Favoritos</a>
            <a class="dropdown-item" routerLink="login">Ingresar</a>
            <a class="dropdown-item" routerLink="register">Registrarse</a>
            <a class="dropdown-item" (click)="logout()">Salir</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="LatestNews">Últimas Noticias</a>
        </li>        
      </ul>
    </div>
</nav>
<div style="margin-bottom: 5rem;"></div>