<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" 
          id="exampleInputEmail1" 
          formControlName="email"
          [ngClass] ="{'is-invalid': email.invalid && (email.dirty || email.touched)}" 
          aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors.required">
              Email es requerido
            </div>
            <div *ngIf="email.errors.email">
              Formato incorrecto
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" 
            id="exampleInputPassword1" 
            formControlName="pass"
            [ngClass] ="{'is-invalid': pass.invalid && (pass.dirty || pass.touched)}">
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="invalid-feedback">
              <div *ngIf="pass.errors.required">
                Password es requerido
              </div>
              <div *ngIf="pass.errors.minlength">
                mínimo 6 caracteres
              </div>
              <div *ngIf="pass.errors.passwordValidation">
                {{pass.errors.passwordValidation.message}}
              </div>
            </div>
        </div>
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Log In</button>
      </form>
      <div *ngIf="alert.show" [ngClass]="{'alert-danger': alert.type == 'error', 'alert-success': alert.type == 'ok'}" class="alert mt-3" role="alert">
        {{alert.message}}
      </div>
</div>
